.created-elections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.election-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    border-radius: 8px;
}


mat-card-header {
    text-align: center;
    justify-content: center;
}

.mat-card-actions {
    display: flex;
    justify-content: center;
}


.vote-btn {
    background-color: #7C8CC7;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.candidate-card {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
}


.title-container {
    align-self: self-start;
}

mat-card {
    max-width: 300px;
    max-height: 350px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    background: linear-gradient(200deg, #FFFFFF 50%, rgba(142, 156, 207, 0.08) 50%);

    mat-card-content {
        flex-grow: 1;
        text-align: justify;
        margin: 1rem auto 1rem auto;
    }

    .mat-card-actions {
        width: 100%;

        button {
            width: 90%;
        }
    }
}

.card {
    padding: 2rem 0;
    max-width: 250px;
    margin: 0;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(200deg, #FFFFFF 50%, rgba(142, 156, 207, 0.08) 50%);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-sizing: border-box;

    .card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 1;
        height: calc(100% - 40px);
    }

    .image {
        width: 70%;
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
    }

    .title {
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
    }

    mat-card-actions {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        display: flex;
        justify-content: flex-end;
    }
}

.custom-icon-color {
    color: #7C8CC7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    margin: 0 10rem;
}

.card:hover {
    background: linear-gradient(200deg, rgba(124, 140, 199, 0.6) 50%, #7C8CC7 50%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

h1{
  text-align: center;
}
