<div class="main">
  <div class="header">
    <div class="title">
      <h1>{{ organization?.name }}</h1>
      <h2>{{ organization?.name }}</h2>
    </div>
    <div class="side-header">
      <span
        class="status-chip"
        [ngClass]="{
          'active-status': organization?.isActive,
          'inactive-status': !organization?.isActive
        }"
      >
        {{ organization?.isActive ? "Active" : "Inactive" }}
      </span>
      <button
        mat-raised-button
        color="primary"
        (click)="openCreateMemberDialog()"
      >
        Add Member
      </button>
    </div>
  </div>
  <div class="container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email Name</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let member of organization?.members"
        >
          <td>{{ member.name}}</td>
          <td>{{ member.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
