<div class="main">
  <div class="header">
    <div class="title">
      <h1>{{ organization?.name + " (" + organization?.shortName + ")" }}</h1>
      <span
        class="status-chip"
        [ngClass]="{
          'active-status': organization?.isActive,
          'inactive-status': !organization?.isActive
        }"
      >
        {{ organization?.isActive ? "Active" : "Inactive" }}
      </span>
    </div>
    <div class="side-header">
      <div class="add-buttons">
        <button
          class="actions-btn"
          mat-flat-button
          [matMenuTriggerFor]="menu"
          *ngIf="decodedToken.id === organization?.userId"
        >
          Actions
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="openCreateMemberDialog()"
            *ngIf="decodedToken.id === organization?.userId"
          >
            Add Member
          </button>
          <button
            mat-menu-item
            (click)="openFileUploadDialog()"
            *ngIf="decodedToken.id === organization?.userId"
          >
            Upload Members
          </button>
          <button
            mat-menu-item
            (click)="downloadCsvTemplate()"
            *ngIf="decodedToken.id === organization?.userId"
          >
            Download Csv Template
          </button>
          <button
            mat-menu-item
            (click)="downloadXlsxTemplate()"
            *ngIf="decodedToken.id === organization?.userId"
          >
            Download xlsx Template
          </button>
          <button
            mat-menu-item
            (click)="openCreateElectionDialog()"
            *ngIf="decodedToken.id === organization?.userId && organization?.isActive"
          >
            Create Election
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of organization?.members">
          <td>{{ member.name }}</td>
          <td>{{ member.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="list-header">
  <h1 class="elections-list-header">Elections</h1>
</div>
<div class="elections-container" *ngIf="organizationElections.length > 0">
  <div class="election-cards">
    <div *ngFor="let election of organizationElections" class="election-card">
      <mat-card
        class="election-card"
        (click)="navigateToDetail(election.electionId)"
      >
        <img
          class="election-image"
          [src]="imageBaseUrl + '/' + election.electionImage"
          alt="Election Image"
        />
        <mat-card-header>
          <mat-card-title>
            <h2 class="election-name">{{ election.electionName }}</h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          {{
            election.description.length > 100
              ? (election.description | slice : 0 : 150) + "..."
              : election.description
          }}
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button class="vote-btn" mat-button>Vote now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="no-elections" *ngIf="organizationElections.length === 0">
  <p>No elections are available.</p>
</div>
