.main{
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.organization-card {
    margin: 2rem 0;
}

.members-section {
    margin-top: 20px;
}

mat-card-title,
mat-card-subtitle {
    display: flex;
    justify-content: center;
}

mat-list-item {
    align-items: center;
}

.main{
    margin: 1rem 4rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
}

.styled-table thead tr {
    background-color: #b3bfec;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    border: #585858;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table thead th:first-child {
    border-top-left-radius: 1rem;
}

.styled-table thead th:last-child {
    border-top-right-radius: 1rem;
}

.styled-table tbody tr:hover {
    background-color: #f8f9f9;
    cursor: pointer;
}

.active-status {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: white;
    border: 2px solid #e0f2f1;
    color: #59ae5d;
    font-weight: bold;
    text-align: center;
}

.inactive-status {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: white;
    border: 2px solid #ffebee;
    color: #d65050;
    font-weight: bold;
    text-align: center;
}

.styled-table thead th:first-child {
    margin-right: 2rem;
    text-align: left;
}

.styled-table td:first-child {
    text-align: left;
}

.create-election-button{
   align-self: flex-end;
}

.add-buttons{
  display: flex;
  gap: 5px;
}

.organization-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.actions-btn{
  color: #7C8CC7;
  border: 1px solid #7C8CC7;
}

.elections-container{
  max-width: 80vw;
  margin: auto;
}

.election-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.election-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 8px;
}

.candidate-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

.candidate-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.candidate-details {
  flex: 1;
}

mat-card-header{
  text-align: center;
  justify-content: center;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}


.vote-btn
{
  background-color: #7C8CC7;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.candidate-card{
  box-shadow: none;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
}


.title-container{
  align-self: self-start;
}

mat-card{
  max-width: 300px;
  max-height: 350px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  gap: 1rem;

  mat-card-content{
    flex-grow: 1;
    text-align: justify;
    margin: 1rem auto 1rem auto;
  }

  .mat-card-actions{
    // display: block;
    width: 100%;
    button{
      width: 90%;
    }
  }
}

.no-elections{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  justify-content: center;
}

.no-election-img{
  width: 20%;
}

.create-election-button{
  background-color: #7C8CC7;
}

.elections-list-header{
  text-align: center;

}
