.verify-email-continaer{
    display: flex;
    flex-direction: column;
    padding:auto;
    margin: auto;
    max-width: 400px;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
}
.verify-email-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: fit-content;
}
.email-icon{
    height: 100px;
    width: 100px;
}
.verify-email-form div{
    width: 100%;
}
.text{
    font-size: large;
}
