<main class="verify-email-continaer">
  <form class="verify-email-form flex" [formGroup]="forgetPasswordForm">
      <div>
          <img class="email-icon" src="assets/svg/mail_sent.svg" alt="vote image" />
      </div>

      <div class="text">
          <h2>Forget Password</h2>
          <p>Enter your email address and we'll send you a link to reset your password.</p>
      </div>
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input id="email" formControlName="email" matInput />
      </mat-form-field>
      <mat-error *ngIf="forgetPasswordForm.controls['email'].touched && forgetPasswordForm.controls['email'].errors?.['required']">
          Please provide a valid email
      </mat-error>
      <button class="login-btn" color="primary" mat-flat-button (click)="forgetPassword()" [disabled]="!forgetPasswordForm.valid">
          Forget Password
      </button>
  </form>
</main>
