.container {
  margin: 0 auto;
  padding: 20px;
}

.list-header {
  text-align: center;
}

.election-details {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.election-description {
  margin: 1rem auto 1rem auto;
  text-align: justify;
}

.candidates-header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.candidates-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.candidate-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 20rem;
}

.candidate-image {
  width: 100%;
  height: 170px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.candidate-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.candidate-description {
  height: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  position: relative;
  // padding-right: 80px;
  /* Adjust based on read-more button width */
  white-space: pre-wrap;
}

.candidate-description .read-more {
  color: #3f51b5;
  /* Primary color */
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-btn {
  margin-top: 10px;
}

.election-closed-warning {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  color: #ff0000;
  text-align: center;
  border-radius: 5px;
}
