.container {
  margin: 0 auto;
  padding: 20px;
}

.list-header {
  text-align: center;
}

.election-details {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.election-description {
  // margin-bottom: 20px;
  margin: 1rem auto 1rem auto;
  text-align: justify;
}

.candidates-header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.candidates-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.candidate-card {
  max-width: 500px;
  width: 100%;
}

.candidate-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.candidate-details {
  padding: 16px;
}

.vote-btn {
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: #7C8CC7;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//=========
.candidate-card {
  max-width: 300px;
  /* Set the max width for the card */
  margin: 0 auto;
  /* Center the card within its parent container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Optional: Adds a shadow for depth */
  border-radius: 8px;
  /* Optional: Rounds the corners of the card */
  overflow: hidden;
  /* Ensures contents fit within the rounded corners */
  /* Other styles you may have */
}

.candidate-image {
  width: 100%;
  /* Ensures the image fills the card width */
  height: auto;
  /* Maintains the image's aspect ratio */
  /* Other styles for the image */
}

.candidate-details {
  padding: 16px;
  /* Adds spacing inside the card around the details */
  /* Other styles for the details container */
}

.card-header h3,
.card-header h2 {
  margin: 0;
  /* Removes default margin to keep text compact */
  /* Additional header styles if needed */
}

.vote-btn {
  width: 100%;
  /* Expands the button to fill the card's width */
  /* Other button styles */
}

