<div class="container" *ngIf="electionDetail">
  <h1 class="list-header">{{ electionDetail.electionName }}</h1>
  <div class="election-details">
    <div class="election-description">{{ electionDetail.description }}</div>

    <h2 class="candidates-header">Candidates</h2>
    <div class="candidates-container">
      <mat-card
        *ngFor="let candidate of electionDetail.candidates"
        class="candidate-card"
      >
        <img
          class="candidate-image"
          src="{{ candidate.imgUrl }}"
          alt="Candidate Image"
        />
        <div class="candidate-details">
          <div class="card-header">
            <h3>{{ candidate.name }}</h3>
            <h3>Vote Count: {{ candidate.VoteCount }}</h3>
          </div>
          <p>{{ candidate.Description }}</p>
          <button
            class="vote-btn"
            mat-button
            (click)="voteForCandidate(candidate.id)"
            *ngIf="electionDetail.hasVoted === false"
          >
            Vote
          </button>
          <span *ngIf="electionDetail.hasVoted">Voted</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
