<div class="container" *ngIf="electionDetail">
  <h1 class="list-header">{{ electionDetail.electionName }}</h1>
  <div class="election-details">
    <div class="election-description">{{ electionDetail.description }}</div>

    <h2 class="candidates-header">Candidates</h2>
    <div class="candidates-container">
      <mat-card *ngFor="let candidate of electionDetail.candidates" class="candidate-card">
        <img class="candidate-image" [src]="imageBaseUrl + '/' + candidate.imgUrl" alt="Candidate Image" />
        <div class="candidate-details">
          <div class="card-header">
            <h4>{{ candidate.name }}</h4>
            <h4 *ngIf="electionDetail.hasVoted">Vote Count: {{ candidate.VoteCount }}</h4>
          </div>
          <p class="candidate-description">
            {{ candidate.Description }}
            <span class="read-more" (click)="openDescription(candidate)">    ... Read More</span>
          </p>
          <button class="vote-btn" mat-button (click)="voteForCandidate(candidate.id)" *ngIf="!electionDetail.hasVoted && !hasEnded">
            Vote
          </button>
          <span *ngIf="electionDetail.hasVoted">Voted</span>
        </div>
      </mat-card>
    </div>
  </div>
  <div *ngIf="hasEnded" class="election-closed-warning">
    <p>The election has been closed and you can no longer vote for this election.</p>
  </div>
  <div *ngIf="electionDetail.hasVoted">
    <h2 class="chart-title">Vote Counts Over Time</h2>
    <div class="charts">
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [yScaleMin]="0"
      [yScaleMax]="10"
      [timeline]="true"
    >
    </ngx-charts-line-chart>

    <ngx-charts-pie-chart
      [view]="viewPie"
      [scheme]="colorScheme"
      [results]="pieData"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="true"
      [doughnut]="false"
    >
    </ngx-charts-pie-chart>
    </div>
  </div>
</div>
