<h1 >Current Elections</h1>
<div class="list-header">
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Search Elections</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (input)="applyFilter($event)" placeholder="Search by name">
    </mat-form-field>
  </div>
<button
    *appHasRole="[hasAdminRole(), hasElectionCreatorRole()]"
    mat-raised-button
    color="primary"
    class="create-election-button"
    (click)="openDialog()"
  >
    Create Election
  </button>
</div>
<div class="container" *ngIf="elections.length > 0">
  <div class="election-cards">
    <div *ngFor="let election of elections" class="election-card">
      <mat-card (click)="navigateToDetail(election.electionId)">
        <img
          class="election-image"
          [src]="imageBaseUrl + '/' + election.electionImage"
          alt="Election Image"
        />
        <mat-card-header>
          <mat-card-title
            ><h2 class="election-name">{{ election.electionName }}</h2>
          </mat-card-title>
        </mat-card-header>
        <p>Category: {{ transformEnum(election.category) }}</p>
        <mat-card-content>{{
          election.description.length > 100
            ? (election.description | slice : 0 : 150) + "..."
            : election.description
        }}</mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button class="vote-btn" mat-button>Vote now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="no-elections" *ngIf="elections.length === 0">
  <img
    class="no-election-img"
    src="assets/svg/no_elections.svg"
    alt="vote image"
  />
  <p>No elections are available for you currently.</p>
</div>
