<div class="container" *ngIf="elections.length > 0">
  <h1 class="list-header">Current Elections</h1>
  <div class="election-cards">
    <div *ngFor="let election of elections" class="election-card">
    <mat-card (click)="navigateToDetail(election.electionId)">
      <mat-card-header>
        <mat-card-title ><h2 class="election-name">{{ election.electionName }}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>{{election.description}}</mat-card-content>
      <mat-card-actions class="mat-card-actions">
        <button class="vote-btn" mat-button>Vote now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>

<div *ngIf="elections.length === 0">
  <p>No elections available.</p>
</div>
