<div class="main">
  <!-- <div class="home">
    <img class="voting-img" src="assets/svg/undraw_voting.svg" alt="vote image" />
    <div class="home-title">
      <h1>Ballot Box</h1>
    <h3>`Your voice matters. Cast your vote and shape the future.`</h3>
    </div>
  </div> -->
  <app-elections-list></app-elections-list>
  <!-- <hr /> -->
  <!-- <app-created-elections></app-created-elections> -->
  <h1 class="categories-title">Categories</h1>
  <div class="catagories">
    <mat-card class="card card-odd" (click)="selectCategory('GOVERNMENT_ELECTION')">
      <div class="card-content">
        <img
          src="../../../../assets/images/government.png"
          alt="Entertainment Awards"
          class="image government-image"
        />
        <div class="title">Government Elections</div>
      </div>
    </mat-card>

    <mat-card class="card card-even" (click)="selectCategory('ENTERTAINMENT_AWARD')" >
      <div class="card-content">
        <img
          src="../../../../assets/images/award.png"
          alt="Entertainment Awards"
          class="image"
        />
        <div class="title">Entertainment Awards</div>
      </div>
    </mat-card>

    <mat-card class="card card-odd" (click)="selectCategory('SPORT_AWARD')">
      <div class="card-content">
        <img
          src="../../../../assets/images/sports.png"
          alt="Entertainment Awards"
          class="image"
        />
        <div class="title">Sport Awards</div>
      </div>
    </mat-card>

    <mat-card class="card card-even" (click)="selectCategory('OTHERS')">
      <div class="card-content">
        <img
          src="../../../../assets/images/others.png"
          alt="Entertainment Awards"
          class="image"
        />
        <div class="title">others</div>
      </div>
    </mat-card>
  </div>
</div>
