<div class="main">
  <div class="catagories">
    <mat-card class="card card-odd">
      <div class="card-content">
        <img
          src="../../../../assets/images/government.png"
          alt="Entertainment Awards"
          class="image government-image"
        />
        <div class="title">Government Elections</div>
      </div>
    </mat-card>

    <mat-card class="card card-even">
      <div class="card-content">
        <img
          src="../../../../assets/images/award.png"
          alt="Entertainment Awards"
          class="image"
        />
        <div class="title">Entertainment Awards</div>
      </div>
    </mat-card>

    <mat-card class="card card-odd">
      <div class="card-content">
        <img
          src="../../../../assets/images/sports.png"
          alt="Entertainment Awards"
          class="image"
        />
        <div class="title">Sport Awards</div>
      </div>
    </mat-card>

    <mat-card class="card card-even">
      <div class="card-content">
        <img
          src="../../../../assets/images/others.png"
          alt="Entertainment Awards"
          class="image"
        />
        <div class="title">others</div>
      </div>
    </mat-card>

    <mat-card class="card card-even" (click)="openDialog()">
      <div class="card-content">
        <span class="material-icons custom-icon-color"> add_circle </span>
        <div class="title">Create Election</div>
      </div>
    </mat-card>
  </div>
  <hr />
  <div class="elections">
    <mat-card class="election-card">
      <img
        mat-card-image
        src="../../../../assets/images/temp-card-image.png"
        alt="45th Emmy Awards"
      />
      <mat-card-content>
        <h2 class="award-title">45th Emmy Awards</h2>
        <p class="award-category">Outstanding Comedy Series</p>
        <p class="award-organizer">
          Organizer: Academy of Television Arts & Sciences (ATAS)
        </p>
        <p class="award-votes">Votes: 345,234 people</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="election-card">
      <img
        mat-card-image
        src="../../../../assets/images/temp-card-image.png"
        alt="45th Emmy Awards"
      />
      <mat-card-content>
        <h2 class="award-title">45th Emmy Awards</h2>
        <p class="award-category">Outstanding Comedy Series</p>
        <p class="award-organizer">
          Organizer: Academy of Television Arts & Sciences (ATAS)
        </p>
        <p class="award-votes">Votes: 345,234 people</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="election-card">
      <img
        mat-card-image
        src="../../../../assets/images/temp-card-image.png"
        alt="45th Emmy Awards"
      />
      <mat-card-content>
        <h2 class="award-title">45th Emmy Awards</h2>
        <p class="award-category">Outstanding Comedy Series</p>
        <p class="award-organizer">
          Organizer: Academy of Television Arts & Sciences (ATAS)
        </p>
        <p class="award-votes">Votes: 345,234 people</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="election-card">
      <img
        mat-card-image
        src="../../../../assets/images/temp-card-image.png"
        alt="45th Emmy Awards"
      />
      <mat-card-content>
        <h2 class="award-title">45th Emmy Awards</h2>
        <p class="award-category">Outstanding Comedy Series</p>
        <p class="award-organizer">
          Organizer: Academy of Television Arts & Sciences (ATAS)
        </p>
        <p class="award-votes">Votes: 345,234 people</p>
      </mat-card-content>
    </mat-card>
  </div>
  <app-elections-list></app-elections-list>
</div>
