<div class="main">
  <h2>Create Election</h2>
  <form [formGroup]="electionForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div formArrayName="candidates">
      <h3>Candidates</h3>
      <div
        class="candidate-grid"
        *ngFor="let candidate of candidates.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="card">
          <div class="card-main">
            <img
              class="card-image"
              *ngIf="candidate.get('imageUrl')?.value"
              [src]="candidate.get('imageUrl')?.value"
              alt="Candidate image"
            />
            <div class="card-content">
              <h4>{{ candidate.get("name")?.value }}</h4>
              <p>{{ candidate.get("description")?.value }}</p>
            </div>
          </div>
          <button mat-button color="warn" (click)="removeCandidate(i)">
            Remove Candidate
          </button>
        </div>
      </div>
    </div>

    <div [formGroup]="candidateForm" *ngIf="isVisible" class="form">
      <h3>Add Candidate</h3>
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <label class="file-upload-container">
          <input
            type="file"
            (change)="
              onFileSelected(
                $event,
                candidateForm.get('name')?.value || 'defaultName'
              )
            "
            [disabled]="!candidateForm.get('name')?.value"
            style="display: none"
          />
          <span [class.disabled]="!candidateForm.get('name')?.value" class="file-upload-btn" >Select Image</span>
          <span class="file-upload-text">No Image selected</span>
        </label>
        <div class="candidate-action-btns">
          <button mat-button (click)="isVisible = false">Close</button>
          <button
            mat-raised-button
            color="secondary"
            type="button"
            (click)="addCandidate()"
          >
            Add Candidate
          </button>
        </div>
      </div>
    </div>
    <div class="candidate-actn-btn">
      <button
        *ngIf="!isVisible"
        mat-raised-button
        color="secondary"
        type="button"
        (click)="createCandidate()"
      >
        Create Candidate
      </button>
    </div>
    <div mat-dialog-actions class="action-btn">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" (click)="submitElection()">
        Submit Election
      </button>
    </div>
  </form>
</div>
