<div class="main">
  <h2>Create Election</h2>
  <form [formGroup]="electionForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="electionForm.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="electionForm.get('description')?.hasError('required')">Description is required</mat-error>
    </mat-form-field>

    <div class="date-and-time">
      <mat-form-field appearance="outline" class="end-date">
        <mat-label>End date and time</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" [matDatepickerFilter]="dateFilter">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-error *ngIf="electionForm.get('endDate')?.hasError('required')">End date is required</mat-error>
      </mat-form-field>

      <div>
        <input class="time-picker" type="time" id="endTime" name="endTime" formControlName="endTime" required="true">
      </div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories | keyvalue" [value]="category.value">
          {{ transformEnum(category.value) }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="electionForm.get('category')?.hasError('required')">Category is required</mat-error>
    </mat-form-field>

    <div formArrayName="candidates">
      <h3>Candidates</h3>
      <div class="candidate-grid" *ngFor="let candidate of candidates.controls; let i = index" [formGroupName]="i">
        <div class="card">
          <div class="card-main">
            <img class="card-image" *ngIf="candidate.get('imageUrl')?.value" [src]="candidate.get('imageUrl')?.value" alt="Candidate image" />
            <div class="card-content">
              <h4>{{ candidate.get('name')?.value }}</h4>
              <p>{{ candidate.get('description')?.value }}</p>
            </div>
          </div>
          <button class="remove-candidate-btn" mat-flat-button (click)="removeCandidate(i)">Remove</button>
        </div>
      </div>
    </div>

    <div [formGroup]="candidateForm" *ngIf="isVisible" class="form">
      <h3>Add Candidate</h3>
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="candidateForm.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="candidateForm.get('description')?.hasError('required')">Description is required</mat-error>
        </mat-form-field>

        <label class="file-upload-container">
          <input type="file" (change)="onFileSelected($event, candidateForm.get('name')?.value || 'defaultName')" [disabled]="!candidateForm.get('name')?.value" style="display: none" />
          <span [class.disabled]="!candidateForm.get('name')?.value" class="file-upload-btn">Select Image</span>
          <span class="file-upload-text">No Image selected</span>
        </label>
        <div class="candidate-action-btns">
          <button mat-button (click)="isVisible = false">Close</button>
          <button mat-raised-button color="secondary" type="button" (click)="addCandidate()">Add Candidate</button>
        </div>
      </div>
    </div>

    <div class="candidate-actn-btn">
      <button *ngIf="!isVisible" mat-raised-button color="secondary" type="button" (click)="createCandidate()">Create Candidate</button>
    </div>

    <div mat-dialog-actions class="action-btn">
      <button mat-flat-button class="submit-btn" color="primary" (click)="submitElection()">Submit Election</button>
      <button class="cancel-btn" mat-flat-button mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>
