<div class="main">
  <h2>Create Election</h2>
  <form [formGroup]="electionForm" (ngSubmit)="submitElection()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div formArrayName="candidates">
        <h3>Candidates</h3>
      <div
        *ngFor="let candidate of candidates.controls; let i = index"
        [formGroupName]="i"
      >
        <app-candidate-form
          [form]="getCandidateFormGroup(i)"
        ></app-candidate-form>
      </div>
    </div>

    <button
      mat-raised-button
      color="secondary"
      type="button"
      (click)="addCandidate()"
    >
      Add Candidate
    </button>
    <div mat-dialog-actions class="action-btn">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary">Submit Election</button>
    </div>
  </form>
</div>
