<div class="container">
  <div class="flex justify-between mx-2">
    <h1 class="mat-h1">Organizations</h1>
  </div>
</div>
<div *ngFor="let organization of organizations" class="container">
  <mat-card class="task-card" (click)="organizationSelected(organization)">
    <mat-card-header>
      <div class="card-header">
        <mat-card-title>{{ organization.name }}</mat-card-title>
        <mat-card-subtitle>: {{ organization.shortName }}</mat-card-subtitle>
        <div
          class="chip mat-caption"
          [ngClass]="{
            'text-green': organization.isActive,
            'text-red': !organization.isActive
          }"
        >
          <span class="mat-caption">
            {{ organization.isActive ? "Active" : "Not Active" }}
          </span>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content />
  </mat-card>
</div>
