<main class="verify-email-continaer">
  <form class="verify-email-form flex" [formGroup]="resetPasswordForm">
      <div>
          <img class="email-icon" src="assets/svg/mail_sent.svg" alt="vote image" />
      </div>

      <div class="text">
          <h3>
              Please check your email!
          </h3>
          <p>
              We have mailed a 6-digit code to your email address. Please enter the code below to reset your password.
          </p>
      </div>
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input id="email" formControlName="email" matInput />
      </mat-form-field>
      <mat-error *ngIf="resetPasswordForm.controls['email'].touched && resetPasswordForm.controls['email'].errors?.['required']">
          Please provide a valid email
      </mat-error>
      <mat-form-field appearance="outline">
          <mat-label>Otp</mat-label>
          <input id="otp" formControlName="otp" matInput />
      </mat-form-field>
      <mat-error *ngIf="resetPasswordForm.controls['otp'].touched && resetPasswordForm.controls['otp'].errors?.['required']">
          Please provide a valid otp
      </mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          [type]="isPasswordVisible ? 'password' : 'text'"
          formControlName="password"
          matInput
        />
        <mat-icon
          class="eye-icon"
          matSuffix
          (click)="togglePasswordVisibility()"
          >{{ isPasswordVisible ? "visibility" : "visibility_off" }}</mat-icon
        >
        <mat-error *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].errors?.['required']">
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          id="confirmPassword"
          [type]="isConfirmPasswordVisible ? 'password' : 'text'"
          formControlName="confirmPassword"
          matInput
        />
        <mat-icon
          class="eye-icon"
          matSuffix
          (click)="toggleConfirmPasswordVisibility()"
          >{{ isConfirmPasswordVisible ? "visibility" : "visibility_off" }}</mat-icon
        >
        <mat-error
          *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.controls['confirmPassword'].errors?.['required']"
        >
          Confirming the password is required.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.errors?.['mismatch']">
          Passwords must match.
        </mat-error>
      </mat-form-field>
      <button class="login-btn" color="primary" mat-flat-button (click)="resetPassword()" [disabled]="!this.resetPasswordForm.valid">
          Reset Password
      </button>
  </form>
</main>
