<div class="main">
  <h1>Dashboard</h1>
  <div *ngIf="generalStatistics" class="statistics-container">
    <mat-card class="stat-card">
      <mat-card-title>General Statistics</mat-card-title>
      <mat-card-content>
        <p>Number of Elections: {{ generalStatistics.noOfElections }}</p>

        <div class="election-types">
          <p class="public">
            Public Elections: {{ generalStatistics.noOfPublicElections }}
          </p>
          <p>Private Elections: {{ generalStatistics.noOfPrivateElections }}</p>
        </div>
        <mat-progress-bar
          mode="determinate"
          [value]="publicElectionsPercentage"
        ></mat-progress-bar>
      </mat-card-content>
    </mat-card>
    <mat-card class="vote-card">
      <mat-card-title>Total Vote Count</mat-card-title>
      <mat-card-content class="vote-count">
        <p class="vote-count">{{ generalStatistics.totalVoteCount }}</p>
        <!-- 0 -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
