<mat-toolbar *ngIf="isAuthenticated$ | async">
  <div class="ballot-box-container" (click)="goHome()">
    <div class="circle">
      <div class="image-container">
        <img
          src="../../assets/images/logo.png"
          alt="Vote"
          class="vote-image"
        />
      </div>
      <div class="vote-text">
        <p class="vote-text-ballot">Ballot</p>
        <p class="vote-text-box">Box</p>
      </div>
    </div>
    <span class="logo-spacer"></span>
  </div>
  <span class="spacer"></span>
  <div class="nav">
    <!-- <a mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> -->
    <a mat-button routerLink="/election/home" routerLinkActive="active">Elections</a>
    <a mat-button routerLink="/organizations" routerLinkActive="active">Organizations</a>
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
